<!DOCTYPE html>
<html>

<head>
  <title>Crazy4Cats</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <%= stylesheet_link_tag 'card', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body id="page-top">
  
    <%= render "shared/navbar" %>
  
  <div class="container">
    <%= yield %>
  </div>

  <footer class="footer bg-dark text-white text-center">
    <div class="container py-3">
      <p>&copy; <%= Time.now.year %> Crazy4Cats</p>
      <p>Fecha actual: <%= Time.now.strftime("%d/%m/%Y") %></p>
    </div>
  </footer>
  
</body>
</html>